{{- $scratch := newScratch -}}

{{- $modid := .page.Params.mod -}}
{{- $modversion := .page.Params.modversion -}}
{{- $modname := index .page.Site.Params.modnames $modid -}}
{{- $modnameGitHub := replace $modname " " "-" -}}

{{- $mcversion := .mcversion -}}
{{- $modloader := .modloader -}}
{{- $modloaderName := index .page.Site.Params.modloader_names $modloader -}}
{{- $modloaderField := printf "Params.%s" $modloader -}}
{{- $isFabric := eq $modloader "fabric" -}}

{{- if $isFabric -}}
	{{- $modfabricsuffix := index .page.Site.Params.fabric_suffix $modid -}}
	{{- if not $modfabricsuffix -}}
		{{- $modfabricsuffix = "" -}}
	{{- end -}}
	{{- $scratch.Set "modloaderSuffix" $modfabricsuffix -}}
{{- else if and (eq $modloader "neoforge") (not (eq $mcversion "1.20.1")) -}}
	{{- $scratch.Set "modloaderSuffix" "-NeoForge" -}}
{{- else -}}
	{{- $scratch.Set "modloaderSuffix" "-Forge" -}}
{{- end -}}

{{- $latestPage := "" -}}
{{- $latestVersion := "" -}}
{{- range (where (where (where .page.Site.Pages "Section" .page.Params.mod) $modloaderField "intersect" (slice $mcversion)) "Date" "ge" .page.Date) -}}
	{{- if and (ne .Layout "update_kofi") (not (strings.Contains .Params.modversion "pre")) -}}
		{{- $latestPage = . -}}
		{{- $latestVersion = .Params.modversion -}}
		{{- break -}}
	{{- end -}}
{{- end -}}

{{- $isLatest := or (eq $modversion $latestVersion) (not $latestVersion) -}}

{{- $cfids := index (index (index .page.Site.Data.curseforge $modid) $modloader) $modversion -}}
{{- $modrinthVersions := index (index (index .page.Site.Data.modrinth $modid) $modloader) $modversion -}}
{{- $fabric_apis := index (index .page.Site.Data.fabric_api $modid) $modversion -}}
{{- $baselink := printf "https://github.com/Wurst-Imperium-MCX/%s/releases/download/v%s/%s-%s-MC%s%s" $modnameGitHub $modversion $modnameGitHub $modversion $mcversion ($scratch.Get "modloaderSuffix") -}}

{{- if not $isLatest -}}
<div class="bg-amber padding5">
	<div class="bg-white padding10">
		<p class="no-margin-top no-margin-bottom">
			<b>IMPORTANT:</b> You are currently viewing {{ $modname }} {{ $modversion }}, which is an older version for Minecraft {{ $mcversion }} + {{ $modloaderName }}. For optimal performance and the latest features, we recommend downloading
			<b><a href="{{ $latestPage.Permalink }}?mc={{ $mcversion }}"
				data-analytics="Old Version Warning: Link Click"
				data-analytics-oldversion="{{ $modversion }}"
				data-analytics-newversion="{{ $latestVersion }}"
				data-analytics-mcversion="{{ $mcversion }}"
			>
				{{ $modname }} {{ $latestVersion }} MC{{ $mcversion }}
			</a></b>
			instead.
		</p>
	</div>
</div>
{{- end -}}

<p>
	{{- $mainText := printf "%s v%s MC%s" $modname $modversion $mcversion -}}
	{{- $mainLink := printf "%s.jar" $baselink -}}
	{{- $mainFile := index (last 1 (split $mainLink "/")) 0 -}}
	<a class="command-button download"
		href="javascript:void(0)"
		data-href="{{ $mainLink }}"
		data-analytics="Download Mod"
		data-analytics-mod="{{ $modname }}"
		data-analytics-version="{{ $modversion }}"
		data-analytics-mcversion="{{ $mcversion }}"
		data-analytics-modloader="{{ $modloader }}"
		data-analytics-type="main"
		data-analytics-mirror="GitHub"
		data-analytics-file="{{ $mainFile }}"
		data-analytics-outdated="{{ not $isLatest }}"
	>
		<span class="icon mif-file-download"></span>
		{{ $mainText }}
		<small>File: {{ $mainFile }}</small>
	</a>
	{{- if $isFabric -}}
		{{- $mcversion_short := index (split $mcversion ".x") 0 -}}
		{{- $isRange := ne $mcversion $mcversion_short -}}
		{{- if not $isRange -}}
			{{- $mcversion_short = "!!INVALID!!" -}}
		{{- end -}}
		{{- range $fabric_mcversion, $fabric_apiversion := $fabric_apis -}}
			{{- if hasPrefix $fabric_mcversion $mcversion_short | or (eq $fabric_mcversion $mcversion) -}}
				{{- $fabric_apiversion_short := index (split $fabric_apiversion "+") 0 -}}
				{{- $apiLink := printf "https://github.com/FabricMC/fabric-api/releases/download/%s/fabric-api-%s.jar" $fabric_apiversion $fabric_apiversion -}}
				{{- $apiFile := index (last 1 (split $apiLink "/")) 0 }}
				<a class="command-button"
					href="javascript:void(0)"
					data-href="{{ $apiLink }}"
					style="margin: 5px 5px 5px 0"
					data-analytics="Download Fabric API"
					data-analytics-version="{{ $fabric_apiversion_short }}"
					data-analytics-mcversion="{{ $mcversion }}"
					data-analytics-file="{{ $apiFile }}"
					data-analytics-mod="{{ $modname }}"
					data-analytics-modmc="{{ $modname }} MC{{ $mcversion }}"
					data-analytics-modversion="{{ $modname }} {{ $modversion }}"
					data-analytics-modversionmc="{{ $modname }} {{ $modversion }} MC{{ $mcversion }}"
					data-analytics-outdated="{{ not $isLatest }}"
				>
					<img src="https://images.wurstclient.net/_media/icon/fabric.png" width="52" height="56" alt="Fabric icon" class="icon">
					Fabric API MC{{ $fabric_mcversion }}
					<small>v{{ $fabric_apiversion }}</small>
				</a>
			{{- end -}}
		{{- end -}}
	{{- end -}}
</p>

{{- $hasCurseForge := isset $cfids $mcversion -}}
{{- $hasModrinth := isset $modrinthVersions $mcversion -}}

{{- if or $hasCurseForge $hasModrinth -}}
	<p>Mirrors:</p>
	<p>
		{{- if $hasModrinth -}}
			{{- $modrinthLink := printf "https://modrinth.com/mod/%s/version/%s-MC%s%s" $modid $modversion $mcversion ($scratch.Get "modloaderSuffix") -}}
			<a class="button modrinth"
				href="javascript:void(0)"
				data-href="{{ $modrinthLink }}"
				data-analytics="Download Mod"
				data-analytics-mod="{{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="main"
				data-analytics-mirror="Modrinth"
				data-analytics-file="{{ $mainFile }}"
				data-analytics-outdated="{{ not $isLatest }}"
			>
				<img src="https://images.wurstclient.net/_media/icon/modrinth_white.svg" alt="Modrinth icon" class="icon">
				Modrinth
			</a>
		{{- end -}}
		{{- " " -}}
		{{- if $hasCurseForge -}}
			{{- $cfFileId := string (index $cfids $mcversion) -}}
			{{- $cfLink := printf "https://legacy.curseforge.com/minecraft/mc-mods/%s/files/%s" $modid $cfFileId -}}
			<a class="button curseforge"
				href="javascript:void(0)"
				data-href="{{ $cfLink }}"
				data-analytics="Download Mod"
				data-analytics-mod="{{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="main"
				data-analytics-mirror="CurseForge"
				data-analytics-file="{{ $mainFile }}"
				data-analytics-outdated="{{ not $isLatest }}"
			>
				<img src="https://images.wurstclient.net/_media/icon/curseforge_white.svg" alt="CurseForge icon" class="icon">
				CurseForge
			</a>
		{{- end -}}
	</p>
{{- end -}}

{{- $hasAdditionalFiles := eq $mcversion "1.12.2" | or $isFabric -}}
{{- if $hasAdditionalFiles -}}
	<p>Additional files:</p>
	<ul class="spaced-list">
		<li>
			{{- $srclink := printf "%s-sources.jar" $baselink -}}
			{{- $srcfile := index (last 1 (split $srclink "/")) 0 -}}
			<a href="javascript:void(0)"
				data-href="{{ $srclink }}"
				data-analytics="Download Mod"
				data-analytics-mod="{{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="sources"
				data-analytics-mirror="GitHub"
				data-analytics-file="{{ $srcfile }}"
				data-analytics-outdated="{{ not $isLatest }}"
			>
				{{ $srcfile }}
			</a>
		</li>
	</ul>
{{- end -}}
