<noscript>
	WARNING: JavaScript is disabled. The download buttons might not work properly until you enable JavaScript.
</noscript>

<div class="padding10 no-padding-left no-padding-right" style="display: grid;grid-template-columns: 1fr;">

	{{- range .Params.mcversions -}}
		<div data-mcversion="{{ . }}">
			{{- if and (isset $.Params "fabric") (in $.Params.fabric .) -}}
				<div class="padding10 no-padding-left no-padding-right">
					<h3>for Minecraft {{ . }} + Fabric</h3>
					{{- partial "update/download" (dict "mcversion" . "modloader" "fabric" "page" $) -}}
				</div>
			{{- end -}}
			{{- if isset $.Params "neoforge" | and (in $.Params.neoforge .) -}}
				<div class="padding10 no-padding-left no-padding-right">
					<h3>for Minecraft {{ . }} + NeoForge</h3>
					{{- partial "update/download" (dict "mcversion" . "modloader" "neoforge" "page" $) -}}
				</div>
			{{- else if isset $.Params "forge" | and (in $.Params.forge .) -}}
				<div class="padding10 no-padding-left no-padding-right">
					<h3>for Minecraft {{ . }} + Forge</h3>
					{{- partial "update/download" (dict "mcversion" . "modloader" "forge" "page" $) -}}
				</div>
			{{- end -}}
		</div>
	{{- end -}}

	{{- with .Params.snapshots -}}
	<div data-mcversion="snapshot" class="padding10 no-padding-left no-padding-right">
		<h3>for Minecraft Snapshots</h3>
		<div style="display: grid;grid-template-columns: 1fr;">
			{{- range . -}}
			<details data-snapshot="{{ . }}">
				<summary>{{ . }} (click to expand)</summary>
				{{- partial "update/download" (dict "mcversion" . "modloader" "fabric" "page" $) -}}
			</details>
			{{- end -}}
		</div>
	</div>
	{{- end -}}

</div>

<script>
// handle mc and snapshot parameters
let urlParams = new URLSearchParams(window.location.search);
let mc = urlParams.get("mc") || urlParams.get("snapshot");
if (mc) {
	let snapshotDetails = document.querySelectorAll(`details[data-snapshot="${mc}"]`);
	if (snapshotDetails.length > 0) {
		mc = "snapshot";
		snapshotDetails.forEach(details => {
			details.style.gridRow = "1";
			details.open = true;
		});
	}

	let mcversionElements = document.querySelectorAll(`[data-mcversion="${mc}"]`);
	mcversionElements.forEach(element => element.style.gridRow = "1");
}

// handle download button clicks
document.querySelectorAll('a[data-href]').forEach(element => {
	element.addEventListener('click', e => openDataHref(e, element.getAttribute('data-href')));
	element.addEventListener('auxclick', e => openDataHref(e, element.getAttribute('data-href')));
});
function openDataHref(event, dataHref) {
	if(event.type === 'auxclick' && event.button !== 1)
		return;
	window.open(dataHref, '_blank');
}
</script>
