{{ define "main" }}
{{- $modname := index .Site.Params.modnames .Params.mod -}}
<main>
    {{- partial "title" . -}}

    <section id="changelog" class="padding20 no-padding-left no-padding-right">
        <div class="container">
            {{- partial "update/image" . -}}
            {{- partial "update/mcversions" . -}}
            {{- .Content -}}
        </div>
    </section>

	<section id="downloads" class="padding40 no-padding-left no-padding-right bg-grayLighter">
		<div class="container">
			<h2>Downloads</h2>
            {{- partial "update/downloads" . -}}
		</div>
	</section>

	<section id="installation" class="padding20 no-padding-left no-padding-right">
		<div class="container">
			<h2 id="installation">Installation</h2>
            <ol>
                <li><p>Install <a href="https://fabricmc.net/use/installer/" target="_blank" rel="nofollow noopener">Fabric (Loader)</a>.</p></li>
                <li><p>Add Fabric (API) to your mods folder.</p></li>
                <li><p>Add {{ $modname }} to your mods folder.</p></li>
            </ol>
		</div>
	</section>

</main>
{{ end }}
