<nav class="app-bar darcula" data-role="appbar">
	<div class="container wide">
		{{- $headerPartial := printf "header/%s.html" .Section -}}
		{{- if templates.Exists (printf "_partials/%s" $headerPartial) -}}
			{{- partialCached $headerPartial . .Section -}}
		{{- else -}}
			<a class="app-bar-element branding" href="/">
				<img src="https://cloud.githubusercontent.com/assets/10100202/19618025/d7aeb13a-983f-11e6-9c15-c4db572b5b18.png" alt="Wurst Client" width="253" height="64" style="height: 2rem;width: auto;">
			</a>
			<ul class="app-bar-menu">
				<li><a href="https://www.wurstclient.net/">Wurst Client</a></li>
				<li><a href="/wi-zoom/">WI Zoom</a></li>
				<li><a href="/wi-freecam/">WI Freecam</a></li>
				<li><a href="/mo-glass/">Mo Glass</a></li>
				<li><a href="/chestesp/">ChestESP</a></li>
				<li><a href="/snapshots/">Snapshots</a></li>
			</ul>
			<ul class="app-bar-menu place-right">
				<li><a href="https://www.wurstclient.net/contact/">Contact</a></li>
			</ul>
		{{- end -}}
	</div>
</nav>
