<a class="app-bar-element branding" href="/mo-glass/">
	<img src="https://user-images.githubusercontent.com/10100202/211171661-a2da10a6-4deb-419c-b8f5-0bf6e45e6af6.png" alt="Mo Glass" width="302" height="64" style="height: 2rem;width: auto;">
</a>
<ul class="app-bar-menu">
	<li><a href="/mo-glass/download/">Download</a></li>
	<li><a href="https://github.com/Wurst-Imperium/Mo-Glass" target="_blank">Source Code</a></li>
</ul>
<ul class="app-bar-menu place-right">
	<li><a href="/">Other Mods</a></li>
</ul>

