<a class="app-bar-element branding" href="/wi-zoom/">
	<img src="https://user-images.githubusercontent.com/10100202/213937592-fe87c58f-76f3-4518-a628-a96d2812e1ce.png" alt="WI Zoom" width="295" height="64" style="height: 2rem;width: auto;">
</a>
<ul class="app-bar-menu">
	<li><a href="/wi-zoom/download/">Download</a></li>
	<li><a href="https://github.com/Wurst-Imperium/WI-Zoom" target="_blank">Source Code</a></li>
</ul>
<ul class="app-bar-menu place-right">
	<li><a href="/">Other Mods</a></li>
</ul>

