{{ define "main" }}
<main>
	{{- partial "title" (dict "l1" .Title "l2" (.Date.Format "2006-01-02")) -}}

	<section id="changelog" class="padding20 no-padding-left no-padding-right">
		<div class="container">
			{{- partial "update/image" . -}}
			{{- partial "update/mcversions" . -}}
			{{- .Content -}}
		</div>
	</section>

	<section id="downloads" class="padding40 no-padding-left no-padding-right bg-grayLighter">
		<div class="container">
			<h2>Downloads</h2>
			{{- partial "update/downloads" . -}}
		</div>
	</section>

	<section id="installation" class="padding20 no-padding-left no-padding-right">
		<div class="container">
			<h2 id="installation">Installation</h2>
			{{- partial "update/installation" . -}}
			<p class="set-border padding10 bd-blue">
				<strong>Note:</strong>
				Older ChestESP versions also required that you add
				<a href="https://modrinth.com/mod/cloth-config" rel="nofollow">Cloth Config</a> and
				<a href="https://modrinth.com/mod/modmenu" rel="nofollow">ModMenu</a> to your mods folder.
				As of ChestESP 1.2, you no longer need to do this.
			</p>
		</div>
	</section>

</main>
{{ end }}
