<!DOCTYPE html>
{{- $title := print .Title " - " .Site.Title }}
{{- $description := .Summary }}
{{- with .Description }}{{ $description = . }}{{ end }}
{{- $image := "https://cloud.githubusercontent.com/assets/10100202/24450367/ef3c0796-147a-11e7-99a9-404bc0deeb3d.jpg" }}
{{- with .Params.Image }}{{ $image = . }}{{ end }}
<html lang="en">
	<head>

		<meta charset="utf-8">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{- block "title" . -}}
		<title>{{ print .Title " - " .Site.Title }}</title>
		{{- end -}}
		<meta name="description" content="{{ $description }}">

		<link href="/css/wi.css" rel="stylesheet">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@Wurst_Imperium">
		<meta name="twitter:title" content="{{ $title }}">
		<meta name="twitter:description" content="{{ $description }}">
		<meta name="twitter:image" content="{{ $image }}">
		
		{{- partial "plausible" . -}}
		
	</head>
	<body>
		
		<div style="min-height: 100%">
			{{- partial "header" . -}}
			{{- block "main" . -}}
			{{- .Content -}}
			{{- end -}}
			<div style="height: 60px;"></div>
		</div>
		{{- partial "footer" . -}}
		
		<script src="/js/wi-v2023.01.13.js"></script>
		
	</body>
</html>
