{{ define "main" }}
<main>
    <header class="bg-grayDark fg-white">
        <div class="container wide padding40 no-padding-left no-padding-right">
            <img src="https://user-images.githubusercontent.com/10100202/77803671-f745ef80-707d-11ea-8795-dfe70fc91b72.png">
            <h1 class="align-center text-shadow">
                <b>Welcome</b> to the official website of the <b style="white-space: nowrap;">Wurst-Imperium</b>!
            </h1>
        </div>
    </header>
    {{- .Content -}}
</main>
{{ end }}
