<script>
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#202020",
                "text": "#ffffff"
            },
            "button": {
                "background": "#a95300",
                "text": "#000000"
            }
        },
        "position": "bottom-left",
        "content": {
            "message": "This website uses cookies to ensure you get the best experience. If you don't want cookies, please turn them off in your browser settings."
        }
    });
</script>
