<nav class="app-bar darcula" data-role="appbar">
	<div class="container wide">
		<a class="app-bar-element branding" href="/">
			<img src="https://cloud.githubusercontent.com/assets/10100202/19618025/d7aeb13a-983f-11e6-9c15-c4db572b5b18.png" alt="Wurst Client" style="height: 2rem;">
		</a>
		<ul class="app-bar-menu">
			<li><a href="https://www.wurstclient.net/">Wurst Client</a></li>
			<li><a href="https://www.wolframclient.net/">Wolfram</a></li>
		</ul>
		<ul class="app-bar-menu place-right">
			<li><a href="https://www.wurstclient.net/contact/">Contact</a></li>
		</ul>
	</div>
</nav>
