{{- $scratch := newScratch -}}

{{- $modid := .page.Params.mod -}}
{{- $modversion := .page.Params.modversion -}}
{{- $modname := index .page.Site.Params.modnames $modid -}}
{{- $modnameGitHub := replace $modname " " "-" -}}

{{- $mcversion := .mcversion -}}
{{- $modloader := .modloader -}}
{{- $isFabric := eq $modloader "fabric" -}}

{{- if $isFabric -}}
	{{- $modfabricsuffix := index .page.Site.Params.fabric_suffix $modid -}}
	{{- if not $modfabricsuffix -}}
		{{- $modfabricsuffix = "" -}}
	{{- end -}}
	{{- $scratch.Set "modloaderSuffix" $modfabricsuffix -}}
{{- else -}}
	{{- $scratch.Set "modloaderSuffix" "-Forge" -}}
{{- end -}}

{{- $cfids := index (index (index .page.Site.Data.curseforge $modid) $modloader) $modversion -}}
{{- $fabric_apis := index (index .page.Site.Data.fabric_api $modid) $modversion -}}
{{- $baselink := printf "https://github.com/Wurst-Imperium-MCX/%s/releases/download/v%s/%s-%s-MC%s%s" $modnameGitHub $modversion $modnameGitHub $modversion $mcversion ($scratch.Get "modloaderSuffix") -}}

<p>
	{{- $mainlink := printf "%s.jar" $baselink -}}
	{{- $mainfile := index (last 1 (split $mainlink "/")) 0 -}}
	<a class="command-button download"
		href="{{ $mainlink }}" rel="nofollow" target="_blank"
		data-analytics="Download {{ $modname }}"
		data-analytics-version="{{ $modversion }}"
		data-analytics-mcversion="{{ $mcversion }}"
		data-analytics-modloader="{{ $modloader }}"
		data-analytics-type="main"
		data-analytics-mirror="GitHub"
		data-analytics-file="{{ $mainfile }}"
	>
		<span class="icon mif-file-download"></span>
		{{ $modname }} v{{ $modversion }} MC{{ $mcversion }}
		<small>File: {{ $mainfile }}</small>
	</a>
	{{- if $isFabric -}}
		{{- $mcversion_short := index (split $mcversion ".x") 0 -}}
		{{- $isRange := ne $mcversion $mcversion_short -}}
		{{- if not $isRange -}}
			{{- $mcversion_short = "!!INVALID!!" -}}
		{{- end -}}
		{{- range $fabric_mcversion, $fabric_apiversion := $fabric_apis -}}
			{{- if hasPrefix $fabric_mcversion $mcversion_short | or (eq $fabric_mcversion $mcversion) -}}
				{{- $fabric_apiversion_short := index (split $fabric_apiversion "+") 0 -}}
				{{- $apilink := printf "https://github.com/FabricMC/fabric/releases/download/%s/fabric-api-%s.jar" $fabric_apiversion $fabric_apiversion -}}
				{{- $apifile := index (last 1 (split $apilink "/")) 0 }}
				<a class="command-button"
					href="{{ $apilink }}" rel="nofollow" target="_blank"
					style="margin: 5px 5px 5px 0"
					data-analytics="Download Fabric API"
					data-analytics-version="{{ $fabric_apiversion_short }}"
					data-analytics-mcversion="{{ $mcversion }}"
					data-analytics-file="{{ $apifile }}"
					data-analytics-mod="{{ $modname }}"
					data-analytics-modmc="{{ $modname }} MC{{ $mcversion }}"
					data-analytics-modversion="{{ $modname }} {{ $modversion }}"
					data-analytics-modversionmc="{{ $modname }} {{ $modversion }} MC{{ $mcversion }}"
				>
					<img src="https://images.wurstclient.net/_media/icon/fabric.png" width="52" height="56" alt="Fabric icon" class="icon">
					Fabric API MC{{ $fabric_mcversion }}
					<small>v{{ $fabric_apiversion }}</small>
				</a>
			{{- end -}}
		{{- end -}}
	{{- end -}}
</p>

{{- $mirrors := newScratch -}}
{{- if isset $cfids $mcversion -}}
	{{- $mirrors.Set "curseforge" (string (index $cfids $mcversion)) -}}
{{- end -}}
{{- $modrinth := and (index .page.Site.Params.modrinth $modid) (ne $mcversion "1.19_deep_dark_experimental_snapshot-1") -}}

{{- if or (ne nil ($mirrors.Get "curseforge")) (ne nil $modrinth) -}}
	<p>Mirrors:</p>
	<p>
		{{- with $modrinth -}}
			{{- $modrinthlink := printf "https://modrinth.com/mod/%s/version/%s-MC%s%s" $modid $modversion $mcversion ($scratch.Get "modloaderSuffix") -}}
			<a class="button modrinth"
				href="{{ $modrinthlink }}" rel="nofollow" target="_blank"
				data-analytics="Download {{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="main"
				data-analytics-mirror="Modrinth"
				data-analytics-file="{{ $mainfile }}"
			>
				<img src="https://images.wurstclient.net/_media/icon/modrinth_white.svg" alt="Modrinth icon" class="icon">
				Modrinth
			</a>
		{{- end }}
		{{ with $mirrors.Get "curseforge" -}}
			{{- $cflink := printf "https://legacy.curseforge.com/minecraft/mc-mods/%s/files/%s" $modid ($mirrors.Get "curseforge") -}}
			<a class="button curseforge"
				href="{{ $cflink }}" rel="nofollow" target="_blank"
				data-analytics="Download {{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="main"
				data-analytics-mirror="CurseForge"
				data-analytics-file="{{ $mainfile }}"
			>
				<img src="https://images.wurstclient.net/_media/icon/curseforge_white.svg" alt="CurseForge icon" class="icon">
				CurseForge
			</a>
		{{- end -}}
	</p>
{{- end -}}

{{- $hasAdditionalFiles := eq $mcversion "1.12.2" | or $isFabric -}}
{{- if $hasAdditionalFiles -}}
	<p>Additional files:</p>
	<ul class="spaced-list">
		<li>
			{{- $srclink := printf "%s-sources.jar" $baselink -}}
			{{- $srcfile := index (last 1 (split $srclink "/")) 0 -}}
			<a href="{{ $srclink }}" rel="nofollow" target="_blank"
				data-analytics="Download {{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="sources"
				data-analytics-mirror="GitHub"
				data-analytics-file="{{ $srcfile }}"
			>
				{{ $srcfile }}
			</a>
		</li>
		{{- if $isFabric -}}
		<li>
			{{- $devlink := printf "%s-dev.jar" $baselink -}}
			{{- $devfile := index (last 1 (split $devlink "/")) 0 -}}
			<a href="{{ $devlink }}" rel="nofollow" target="_blank"
				data-analytics="Download {{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="dev"
				data-analytics-mirror="GitHub"
				data-analytics-file="{{ $devfile }}"
			>
				{{ $devfile }}
			</a>
		</li>
		<li>
			{{- $srcdevlink := printf "%s-sources-dev.jar" $baselink -}}
			{{- $srcdevfile := index (last 1 (split $srcdevlink "/")) 0 -}}
			<a href="{{ $srcdevlink }}" rel="nofollow" target="_blank"
				data-analytics="Download {{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="sources-dev"
				data-analytics-mirror="GitHub"
				data-analytics-file="{{ $srcdevfile }}"
			>
				{{ $srcdevfile }}
			</a>
		</li>
		{{- end -}}
	</ul>
{{- end -}}