{{- $scratch := newScratch -}}

{{- $modid := .page.Params.mod -}}
{{- $modversion := .page.Params.modversion -}}
{{- $modname := index .page.Site.Params.modnames $modid -}}
{{- $modnameGitHub := replace $modname " " "-" -}}

{{- $mcversion := .mcversion -}}
{{- $modloader := .modloader -}}
{{- $modloaderName := index .page.Site.Params.modloader_names $modloader -}}
{{- $modloaderField := printf "Params.%s" $modloader -}}
{{- $isFabric := eq $modloader "fabric" -}}

{{- if $isFabric -}}
	{{- $modfabricsuffix := index .page.Site.Params.fabric_suffix $modid -}}
	{{- if not $modfabricsuffix -}}
		{{- $modfabricsuffix = "" -}}
	{{- end -}}
	{{- $scratch.Set "modloaderSuffix" $modfabricsuffix -}}
{{- else if and (eq $modloader "neoforge") (not (eq $mcversion "1.20.1")) -}}
	{{- $scratch.Set "modloaderSuffix" "-NeoForge" -}}
{{- else -}}
	{{- $scratch.Set "modloaderSuffix" "-Forge" -}}
{{- end -}}

{{- $latestPage := index (first 1 (where (where .page.Site.Pages "Section" .page.Params.mod) $modloaderField "intersect" (slice $mcversion))) 0 -}}
{{- $latestVersion := $latestPage.Params.modversion -}}
{{- $isLatest := or (eq $modversion $latestVersion) (not $latestVersion) -}}

{{- $cfids := index (index (index .page.Site.Data.curseforge $modid) $modloader) $modversion -}}
{{- $fabric_apis := index (index .page.Site.Data.fabric_api $modid) $modversion -}}
{{- $baselink := printf "https://github.com/Wurst-Imperium-MCX/%s/releases/download/v%s/%s-%s-MC%s%s" $modnameGitHub $modversion $modnameGitHub $modversion $mcversion ($scratch.Get "modloaderSuffix") -}}

{{- if not $isLatest -}}
<div class="bg-amber padding5">
	<div class="bg-white padding10">
		<p class="no-margin-top no-margin-bottom">
			<b>IMPORTANT:</b> You are currently viewing {{ $modname }} {{ $modversion }}, which is an older version for Minecraft {{ $mcversion }} + {{ $modloaderName }}. For optimal performance and the latest features, we recommend downloading
			<b><a href="{{ $latestPage.Permalink }}?mc={{ $mcversion }}"
				data-analytics="Old Version Warning: Link Click"
				data-analytics-oldversion="{{ $modversion }}"
				data-analytics-newversion="{{ $latestVersion }}"
				data-analytics-mcversion="{{ $mcversion }}"
			>
				{{ $modname }} {{ $latestVersion }} MC{{ $mcversion }}
			</a></b>
			instead.
		</p>
	</div>
</div>
{{- end -}}

<p>
	{{- $mainText := printf "%s v%s MC%s" $modname $modversion $mcversion -}}
	{{- $mainLink := printf "%s.jar" $baselink -}}
	{{- $mainLoot := printf "https://api.wurstclient.net/loot/?to=%s&title=%s" (urlquery $mainLink) (urlquery $mainText) -}}
	{{- $mainFile := index (last 1 (split $mainLink "/")) 0 -}}
	<a class="command-button download"
		href="javascript:void(0)"
		data-href="{{ if $isLatest }}{{ $mainLink }}{{ else }}{{ $mainLoot }}{{ end }}"
		data-analytics="Download {{ $modname }}"
		data-analytics-version="{{ $modversion }}"
		data-analytics-mcversion="{{ $mcversion }}"
		data-analytics-modloader="{{ $modloader }}"
		data-analytics-type="main"
		data-analytics-mirror="GitHub"
		data-analytics-file="{{ $mainFile }}"
		data-analytics-lootlink="{{ not $isLatest }}"
	>
		<span class="icon mif-file-download"></span>
		{{ $mainText }}
		<small>File: {{ $mainFile }}</small>
	</a>
	{{- if $isFabric -}}
		{{- $mcversion_short := index (split $mcversion ".x") 0 -}}
		{{- $isRange := ne $mcversion $mcversion_short -}}
		{{- if not $isRange -}}
			{{- $mcversion_short = "!!INVALID!!" -}}
		{{- end -}}
		{{- range $fabric_mcversion, $fabric_apiversion := $fabric_apis -}}
			{{- if hasPrefix $fabric_mcversion $mcversion_short | or (eq $fabric_mcversion $mcversion) -}}
				{{- $fabric_apiversion_short := index (split $fabric_apiversion "+") 0 -}}
				{{- $apiText := printf "Fabric API MC%s" $fabric_mcversion -}}
				{{- $apiLink := printf "https://github.com/FabricMC/fabric/releases/download/%s/fabric-api-%s.jar" $fabric_apiversion $fabric_apiversion -}}
				{{- $apiLoot := printf "https://api.wurstclient.net/loot/?to=%s&title=%s" (urlquery $apiLink) (urlquery $apiText) -}}
				{{- $apiFile := index (last 1 (split $apiLink "/")) 0 }}
				<a class="command-button"
					href="javascript:void(0)"
					data-href="{{ if $isLatest }}{{ $apiLink }}{{ else }}{{ $apiLoot }}{{ end }}"
					style="margin: 5px 5px 5px 0"
					data-analytics="Download Fabric API"
					data-analytics-version="{{ $fabric_apiversion_short }}"
					data-analytics-mcversion="{{ $mcversion }}"
					data-analytics-file="{{ $apiFile }}"
					data-analytics-mod="{{ $modname }}"
					data-analytics-modmc="{{ $modname }} MC{{ $mcversion }}"
					data-analytics-modversion="{{ $modname }} {{ $modversion }}"
					data-analytics-modversionmc="{{ $modname }} {{ $modversion }} MC{{ $mcversion }}"
					data-analytics-lootlink="{{ not $isLatest }}"
				>
					<img src="https://images.wurstclient.net/_media/icon/fabric.png" width="52" height="56" alt="Fabric icon" class="icon">
					{{ $apiText }}
					<small>v{{ $fabric_apiversion }}</small>
				</a>
			{{- end -}}
		{{- end -}}
	{{- end -}}
</p>

{{- $mirrors := newScratch -}}
{{- if isset $cfids $mcversion -}}
	{{- $mirrors.Set "curseforge" (string (index $cfids $mcversion)) -}}
{{- end -}}
{{- $modrinth := and (index .page.Site.Params.modrinth $modid) (ne $mcversion "1.19_deep_dark_experimental_snapshot-1") -}}

{{- if or (ne nil ($mirrors.Get "curseforge")) (ne nil $modrinth) -}}
	<p>Mirrors:</p>
	<p>
		{{- with $modrinth -}}
			{{- $modrinthLink := printf "https://modrinth.com/mod/%s/version/%s-MC%s%s" $modid $modversion $mcversion ($scratch.Get "modloaderSuffix") -}}
			{{- $modrinthLoot := printf "https://api.wurstclient.net/loot/?to=%s&title=%s" (urlquery $modrinthLink) (urlquery $mainText) -}}
			<a class="button modrinth"
				href="javascript:void(0)"
				data-href="{{ $modrinthLoot }}"
				data-analytics="Download {{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="main"
				data-analytics-mirror="Modrinth"
				data-analytics-file="{{ $mainFile }}"
				data-analytics-lootlink="true"
			>
				<img src="https://images.wurstclient.net/_media/icon/modrinth_white.svg" alt="Modrinth icon" class="icon">
				Modrinth
			</a>
		{{- end }}
		{{ with $mirrors.Get "curseforge" -}}
			{{- $cfLink := printf "https://legacy.curseforge.com/minecraft/mc-mods/%s/files/%s" $modid ($mirrors.Get "curseforge") -}}
			{{- $cfLoot := printf "https://api.wurstclient.net/loot/?to=%s&title=%s" (urlquery $cfLink) (urlquery $mainText) -}}
			<a class="button curseforge"
				href="javascript:void(0)"
				data-href="{{ $cfLoot }}"
				data-analytics="Download {{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="main"
				data-analytics-mirror="CurseForge"
				data-analytics-file="{{ $mainFile }}"
				data-analytics-lootlink="true"
			>
				<img src="https://images.wurstclient.net/_media/icon/curseforge_white.svg" alt="CurseForge icon" class="icon">
				CurseForge
			</a>
		{{- end -}}
	</p>
{{- end -}}

{{- $hasAdditionalFiles := eq $mcversion "1.12.2" | or $isFabric -}}
{{- if $hasAdditionalFiles -}}
	<p>Additional files:</p>
	<ul class="spaced-list">
		<li>
			{{- $srclink := printf "%s-sources.jar" $baselink -}}
			{{- $srcfile := index (last 1 (split $srclink "/")) 0 -}}
			<a href="javascript:void(0)"
				data-href="{{ $srclink }}"
				data-analytics="Download {{ $modname }}"
				data-analytics-version="{{ $modversion }}"
				data-analytics-mcversion="{{ $mcversion }}"
				data-analytics-modloader="{{ $modloader }}"
				data-analytics-type="sources"
				data-analytics-mirror="GitHub"
				data-analytics-file="{{ $srcfile }}"
			>
				{{ $srcfile }}
			</a>
		</li>
	</ul>
{{- end -}}
