{{- $scratch := newScratch -}}

<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="9205195732" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

<noscript>
	WARNING: JavaScript is disabled. The download buttons might not work properly until you enable JavaScript.
</noscript>

<div class="padding10 no-padding-left no-padding-right" style="display: grid;grid-template-columns: 1fr;">

	{{- range .Params.mcversions -}}
		{{- $tooOldForFabric := lt (index (first 2 (split . ".")) 1) 14 -}}
		{{- $fabricSupported := not $tooOldForFabric | and (not (in $.Params.nofabric .)) -}}
		<div data-mcversion="{{ . }}">
			{{- if $fabricSupported -}}
				<div class="padding10 no-padding-left no-padding-right">
					<h3>for Minecraft {{ . }} + Fabric</h3>
					{{- partial "update/download" (dict "mcversion" . "modloader" "fabric" "page" $) -}}
				</div>
			{{- end -}}
			{{- if isset $.Params "neoforge" | and (in $.Params.neoforge .) -}}
				<div class="padding10 no-padding-left no-padding-right">
					<h3>for Minecraft {{ . }} + NeoForge</h3>
					{{- partial "update/download" (dict "mcversion" . "modloader" "neoforge" "page" $) -}}
				</div>
			{{- else if isset $.Params "forge" | and (in $.Params.forge .) -}}
				<div class="padding10 no-padding-left no-padding-right">
					<h3>for Minecraft {{ . }} + Forge</h3>
					{{- partial "update/download" (dict "mcversion" . "modloader" "forge" "page" $) -}}
				</div>
			{{- end -}}
		</div>
	{{- end -}}

	{{- with .Params.snapshots -}}
	<div data-mcversion="snapshot" class="padding10 no-padding-left no-padding-right">
		<h3>for Minecraft Snapshots</h3>
		<div style="display: grid;grid-template-columns: 1fr;">
			{{- range . -}}
			<details data-snapshot="{{ . }}">
				<summary>{{ . }} (click to expand)</summary>
				{{- partial "update/download" (dict "mcversion" . "modloader" "fabric" "page" $) -}}
			</details>
			{{- end -}}
		</div>
	</div>
	{{- end -}}

</div>

<script>
	let urlParams = new URLSearchParams(window.location.search);
	let mc = urlParams.get("mc") || urlParams.get("snapshot");

	if (mc) {
		let snapshotDetails = document.querySelectorAll(`details[data-snapshot="${mc}"]`);
		if (snapshotDetails.length > 0) {
			mc = "snapshot";
			snapshotDetails.forEach(details => {
				details.style.gridRow = "1";
				details.open = true;
			});
		}

		let mcversionElements = document.querySelectorAll(`[data-mcversion="${mc}"]`);
		mcversionElements.forEach(element => element.style.gridRow = "1");
	}
</script>