<p>
	This version of {{ index .Site.Params.modnames .Params.mod }}
	{{- " is available for " -}}
	{{- if and (isset .Params "mcversions") (gt (len .Params.mcversions) 0) -}}
		{{- "Minecraft " -}}
		{{- delimit $.Params.mcversions ", " " and " -}}
		{{- with .Params.snapshots -}}
			{{- ", as well as " -}}
		{{- end -}}
	{{- end -}}
	{{- with .Params.snapshots -}}
		{{- if gt 10 (len .) -}}
			snapshot
			{{- if lt 1 (len .) -}}s{{- end }} {{ delimit . ", " " and " }}
		{{- else -}}
			{{ len . }} different snapshots ranging from {{ index (first 1 .) 0 }} to {{ index (last 1 .) 0 }}
		{{- end -}}
	{{- end -}}.
</p>

{{- partial "ad" "4418061113" -}}
